<checkboxfield>
    <label>
        <input
            type="checkbox"
            name="{ name }"
            value=""
            checked="{ checked }"
            onchange="{ valueChanged }"
        >
        { label }
    </label>

    <script>
        var tag = this;
        
        tag.name = opts.name || '';
        tag.label = opts.label || '';
        tag.checked = opts.checked || '';

        this.valueChanged = (e) => {
            this.checked = e.target.checked;
        }

    </script>
</checkboxfield>
